@use '../../../styles/partials';

.outer_container {
  display: flex;
  justify-content: center;
  width: 100%;
  //height: 100%;
  //Calculate minimum height of the page
  min-height: calc(100vh - #{partials.$navigation-height} - 60px); 
  margin-top: partials.$navigation-height;
  min-width: partials.$page-width-min;
  z-index: 0;
  position: relative;
}

.inner_container {
  width: 100%;
  max-width: partials.$page-width-max;
  min-width: partials.$page-width-min;
}
