
@use '../../styles/partials';


.header{              
    display: flex;
    justify-content: center;
}
.paragraph {
   
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
letter-spacing: 0.02em;
text-align: center;
margin-left:30px;
margin-right:30px;

  }
  
.copyLink{
    cursor: pointer;
}


.backArrowIcon{
    cursor: pointer;
}

.actionbox{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 32px;
    margin-left: 30px;
    margin-right: 30px;
}


.button{
    background: transparent;
    border: none;
}
.button:focus{
    outline: none;
    border: none;
}


.copyButton{
    @extend .button;
    margin-right:40px;
}



.calendar{
    display: flex;
    justify-content: center;
}



// .imagesbutton{
//     margin-bottom: 32px; 
//     background: transparent;
//     border: none;
// }


