
@use '../../styles/partials';


.header{              
    display: flex;
    justify-content: center;
}
.paragraph {
   
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
letter-spacing: 0.02em;
text-align: center;
margin-left:30px;
margin-right:30px;

  }
  
.copyLink{
    cursor: pointer;
}

.copyButton{
    margin-top: 30px;
    margin-left:200px;
    border-radius: 25px;
}


.socialbadges{
    margin-top: 30px;
}

.backArrowIcon{
    cursor: pointer;
}

.ActionBox{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    margin-top: 32px;
    margin-left: 30px;
    margin-right: 30px;
}

.calendar{
    display: flex;
    justify-content: center;
}