
@use '../../styles/partials';


.header{              
    display: flex;
    justify-content: center;
}
.paragraph {
    width: 100%; /* Adjusts to parent container */
    max-width: 317px; /* Maximum width */
    height: auto; /* Remove fixed height */
    
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height:  22px; /* Better spacing between lines */
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #000000;
    
    align-self: center;

    
    margin: 0 auto; /* Center horizontally */
    padding: 10px 0; /* Add padding for spacing */
  }
  
.copyLink{
    cursor: pointer;
}

.copyButton{
    margin-top: 30px;
    margin-left:200px;
    border-radius: 25px;
}


.socialbadges{
    margin-top: 30px;
}

.backArrowIcon{
    cursor: pointer;
}

.ActionBox{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.calendar{
    display: flex;
    justify-content: center;
}