<!doctype html>
<html>
  <head>
    <style>
      head {
        background-color: white;
      }

      #logo {
        margin: auto;
      }

      #main {
        color: blue;
        margin: auto;
      }

      footer {
        background-color: black;
      }
    </style>
  </head>
  <body>
    <div id="logo">
      <img src="images/pages/one-time-passcode/8by8logo.png" />
    </div>
    <div id="main">
      <p>Hi, John Doe!</p>
      <p>Your one-time passcode is:</p>
      <!-- <span id="passcode">{{.Token}}</span> -->
      <p>The passcode will expire in one hour.</p>
    </div>
  </body>
  <footer></footer>
</html>

<!-- <h2>One-Time Passcode</h2>

<p>Enter this code to login.</p>
<p>{{ .Token }}</p> -->
